body {
  background-color: #E9E9E9;
}

.small {
  font-size: 13px;
}

#image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 2px solid #0CBDDC;
}

h1 {
  text-align: center;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  font-family: cursive;
  font-size: 50px;
  color: #0CBDDC;
  text-shadow: 2px 2px black;
}

.aboutme {
  border: 10px solid #0CBDDC;
  border-radius: 24%;
  padding: 10px;
  margin-bottom: 15px;
  float: left;
  text-align: center;
  list-style-position: inside;
  background-color: #E9E9E9;

}

.why {
  border: 10px solid #0CBDDC;
  border-radius: 10%;
  padding: 10px;
  margin-top: 25px;
  float: right;
  text-align: center;
  background-color: #E9E9E9;
}

.projects {
  text-align: center;
  border: 10px solid #0CBDDC;
  border-radius: 50%;
  padding: 60px;
  margin-top: 15px;
  float: inherit;
  background-color: #E9E9E9;
}

.projects ul {
  list-style-type: none;
}

.education {
  border: 10px solid #0CBDDC;
  border-radius: 10%;
  padding: 10px;
  margin-top: 25px;
  text-align: center;
  list-style-position: inside;
  background-color: #E9E9E9;
}

.experience {
  border: 10px solid #0CBDDC;
  border-radius: 10%;
  padding: 10px;
  margin-top: 25px;
  text-align: center;
  list-style-position: inside;
  background-color: #E9E9E9;
}

.square {
    position: absolute;
    width: 86%;
    height: 75%;
    Background-color: #fff;
    text-align: center;
    margin-left: 7%;
    border-radius: 10%;
    margin-top: 2%;
}

.sections {
  transform: scale(0.9, 0.9);
}

.aboutme h3 {
  text-decoration: underline;
}

.why h3 {
  text-decoration: underline;
}

.projects h3 {
  text-decoration: underline;
}

.education h3 {
  text-decoration: underline;
}

.experience h3 {
  text-decoration: underline;
}
