body {
  background-color: #E9E9E9;
}

.small {
  font-size: 13px;
}

#image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 2px solid #0CBDDC;
}

h1 {
  text-align: center;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  font-family: cursive;
  font-size: 50px;
  color: #0CBDDC;
}

.aboutme {
  border: 2px solid #0CBDDC;
  border-radius: 24%;
  padding: 10px;
  margin-bottom: 15px;
  float: left;
  text-align: center;
  list-style-position: inside;
}

.why {
  border: 2px solid #0CBDDC;
  border-radius: 10%;
  padding: 10px;
  margin-top: 25px;
  float: right;
  text-align: center;
}

.projects {
  text-align: center;
  border: 2px solid #0CBDDC;
  border-radius: 50%;
  padding: 60px;
  margin-top: 15px;
  float: inherit;
}

.projects ul {
  list-style-type: none;
}

.education {
  border: 2px solid #0CBDDC;
  border-radius: 10%;
  padding: 10px;
  margin-top: 25px;
  text-align: center;
  list-style-position: inside;
}

.experience {
  border: 2px solid #0CBDDC;
  border-radius: 10%;
  padding: 10px;
  margin-top: 25px;
  text-align: center;
  list-style-position: inside;
}

.square {
    position: absolute;
    width: 85%;
    height: 70%;
    Background-color: #fff;
    text-align: center;
    margin-left: 8%;
    border-radius: 10%;
}

.sections {
  transform: scale(0.8, 0.8);

}
